* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    background-color: beige;
    max-width: 420px;
    padding: 8px;
    margin: 8px;
    z-index: 10;
    border-radius: 8px;
    box-shadow: 10px 10px 56px 0px rgba(0,0,0,0.62);
    -webkit-box-shadow: 10px 10px 56px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 10px 10px 56px 0px rgba(0,0,0,0.62);   
}

.modal-backdrop {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

button {
    all: unset;
    color: white;
    font-size: medium;
    font-weight: bold;
    background-color: lightblue;
    padding: 8px 16px;
    margin: 3px auto;
    border-radius: 4px;
}